.banner_worp {
    background-image   : url(../imgs/slider-1.jpg);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    position: relative;
    padding: 208px 0 198px;
    &::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        position: absolute;
        opacity: 0.7;
    }
    .banner {
        .main_banner {
            .banerHed {
                margin: 0 0 10px;
                font-size: 66px;
                font-weight: 600;
                color: #fff;
            }
            .banner_pra {
                max-width: 690px;
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.6;
                color: #fff;
                margin: 0 0 43px 5px;
            }
            .banner_button {
                font-size: 14px;
                box-shadow: none;
                border: 1px solid #eb1b2b;
                color: #fff;
                background-color: #eb1b2b;
                padding: 9px 37px;
                font-weight: 500;
                text-transform: uppercase;
                box-shadow: none;
                outline: none;
                transition: all 0.5s;
                border-radius: 50px;
                text-decoration: none;
                display: inline-block;
                margin-right: 8px;
                &:hover {
                    background: transparent;
                    border-color:#fff;
                }
                
            }
            .bnarbtn {
                font-size: 14px;
                outline: none;
                box-shadow: none;
                border: 1px solid #fff;
                color: #fff;
                background: transparent;
                padding: 9px 37px;
                font-weight: 500;
                text-transform: uppercase;
                box-shadow: none;
                transition: all 0.5s;
                border-radius: 50px;
                text-decoration: none;
                display: inline-block;
                &:hover {
                    background: #eb1b2b;
                    border-color: #eb1b2b;
                }
            }
        }
        // .main_banner2 {
        //     text-align: center;
        //     .banerHed1{
        //         color: #fff;
        //         font-size: 38px;
        //         font-weight: 700;
        //         text-transform: uppercase;
        //         margin: 205px 0 10px 0;
        //     }
        //     .banerHed2{
        //         margin: 0;
        //         font-size: 66px;
        //         font-weight: 600;
        //         color: #fff;
        //     }
        //     .banner_pra2 {
        //         font-size: 14px;
        //         margin-bottom: 43px;
        //         font-weight: 400;
        //         color: #fff;
        //         max-width: 660px;
        //         margin: 0 auto 20px;
        //     }
        //     .banner_button {
        //         box-shadow: none;
        //         border: 1px solid #eb1b2b;
        //         color: #fff;
        //         background: #eb1b2b;
        //         padding: 10px 36px;
        //         font-weight: 600;
        //         text-transform: uppercase;
        //         box-shadow: none;
        //         transition: all 0.5s;
        //         margin-right: 40px;
        //         border-radius: 50px;
        //         text-decoration: none;
        //         display: inline-block;
        //         &:hover {
        //             background: transparent;
        //             border: 1px solid #fff;
        //         }
                
        //     }
        //     .bnarbtn {
        //         box-shadow: none;
        //         border: 1px solid #fff;
        //         color: #fff;
        //         background: transparent;
        //         padding: 10px 36px;
        //         font-weight: 600;
        //         text-transform: uppercase;
        //         box-shadow: none;
        //         transition: all 0.5s;
        //         margin-right: 40px;
        //         border-radius: 50px;
        //         text-decoration: none;
        //         display: inline-block;
        //         &:hover {
        //             background: #eb1b2b;
        //             border: 1px solid #eb1b2b;
        //         }
        //     }
        // }
    }
}