.brand_worp {
    padding: 90px 0;
    .brand_item {
        text-align: center; 
        outline: none;
        img {
            padding: 10px 10px;
            transition: all 0.5s;
            outline: none;
            &:hover {
                transform: scale(1.1);
            }
        }
       
    }
}