.brand_worp {
    padding: 100px 0;
    .brand_item {
        text-align: center; 
        img {
            transition: all 0.5s;
            border: 1px solid #ddd;
           
            &:hover {
                transform: scale(1.2);
            
            }
        }
       
    }
}