.countdown {
    .media_header {
        .madia_color {
            color: #fff;
        }
    }
    span {
        background-color: red;
        font-size: 60px;
        color: #fff;
        margin: 0 10px 0 auto;
        text-align: center;
        display: inline-block;
        max-width: 200px;
        width: 100%;
        padding: 60px;
        line-height: 30px;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
        span {
            padding: 0;
            font-size: 20px;
            line-height: 20px;
        }
    }
}
