.filtering_worp {
    overflow: hidden;
    .Isotopemanu {
        text-align: center;
        margin-bottom: 30px;
    }
    .ctm_row {
        .ctm_col {
            .filter_items {
                position: relative;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .over_layhed {
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    background-color: #008CBA;
                    overflow: hidden;
                    width: 100%;
                    transition: .5s ease;
                    transform: translateY(-50%);
                    margin-left: 96px;
                    padding: 20px 0;
                    .over_hed {
                        color: #fff;
                        margin: 0 30px;
                        font-size: 18px;
                        color: #fff;
                        font-weight: 400;
                    }
                    .over_pra {
                        color: #fff;
                        margin: 0 30px;
                        line-height: 17px;
                        font-size: 14px;
                    }
                    
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(235, 27, 43, 0.7);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s;
                }
            
            }
            &:hover {
                .over_layhed {
                    left: 0;
                    width: 100%;
                }
                .filter_items {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}