.Media_filtring {
    padding: 50px 0;
    .filtering_item_row {
        .custom_col {
            .media_overlay {
                position: relative;
                overflow: hidden;
                .litebox {
                    position: absolute;
                    bottom: 30px;
                    right: 30px;
                    z-index: 1;
                    a {
                        height: 50px;
                        width: 50px;
                        background-color: #eb1b2b;
                        border-radius: 50px;
                        display: flex;
                        text-decoration: none;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        transition: all 0.5s;
                        border: 1px solid transparent;
                    }
                    &:hover {
                        a {
                            background-color: #f7091d;
                            border-color:  #ddd;
                            transform: scale(1.1);
                        }
                    }
                }
                .img_overlay {
                    position: relative;
                    overflow: hidden;
                    .image {
                        display: block;
                        transition: all 0.5s;
                        max-width: 100%;
                        width: 100%;
                        line-height: 0;
                    }
                    .overlayhed {
                        position: absolute;
                        left: 100%;
                        top: 0;
                        overflow: hidden;
                        height: 100%;
                        width: 0;
                        transition: all 0.5s;
                        z-index: 1;
                        .text {
                            white-space: nowrap;
                            color: #fff;
                            font-size: 20px;
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 70%;
                            background-color: rgba(0, 0, 0, 0.46);
                            transform: translate(-50%, -50%);
                            padding: 20px;

                            .hoverhead {
                                margin: 0;
                                font-size: 16px;
                                line-height: 1.2;

                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }


                            }
                            .hoverpra {
                                color: #fff;
                                font-size: 12px;
                                margin: 0;
                            }
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(235, 27, 43, 0.7);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s;
                        z-index: 1;
                    }
                }
                &:hover {
                    .img_overlay {
                        .image {
                            transform: scale(1.1);
                        }
                        .overlayhed {
                            left: 0;
                            width: 100%;

                            .text {
                                width: 100%;
                            }
                        }
                        &:before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
    //=====lightbox =====// 
    .imagelightbox-arrow-right:before {
    font-family: 'fontawesome';
    content: "\f105" !important;
    }
    .imagelightbox-arrow-left:before {
    content: "\f104" !important;
    font-family: 'fontawesome';
    }
    .imagelightbox-close {
    top: 10px;
    }
    
    .imagelightbox-arrow {
    margin-top: 0;
    }
    