@media (max-width: 1024px) {
  
    .Mission .mainMission .MissionTitle .Missionhead {
        font-size: 30px;
    }
    .MEMBER_revew .MissionTitle .Missionhead {
       
        font-size: 30px;
    }
    .Newsletter {
        margin-bottom: 30px;
    }
   
}
@media (max-width: 991px) {
    .brand_worp .brand_item {
        margin-bottom: 30px;
    }
    .header_top .top_head .contac a {
        font-size: 13px;
    }
    .countain_worp .main_counting {
        margin-bottom: 30px;
    }
    .Mission .mainMission .MissionTitle::before {
        display: none;    
    }
    .Mission .mainMission .MissionTitle::after {
        display: none;    
    }
    .Mission .mainMission .massionPra {
        max-width: 100%;
        margin: 0;
    }
    .VOLUNTEER .ovErlay {
        margin-bottom: 30px;
    }
    .MEMBER_revew .MissionTitle::before {
        display: none;
    }
    .MEMBER_revew .MissionTitle::after {
        display: none;
    }
    .MEMBER_revew .massionPra {
        max-width: 100%;
        margin: 0;
    }
    .MEMBER_revew .testmonials_slied .main_slieda_ttstmonials .test_slid_items .slid_pra2 {
        max-width: 100%;
        margin: 0;
    }

}
@media (max-width: 768px) {
    .header_top .top_head .contac a {
        font-size: 13px;
    } 
    .navbar_collapse .main_manu {
        overflow-y: scroll;
        height: 200px;
        margin: 20px;
    }
    header.header.fixedMenu .navbar .maincollaps .main_manu li a {
        color: #fff;
        padding: 30px 5px;
    }
    header.header .navbar .maincollaps .main_manu li a.nav-link {
        margin: -20px 3px;
    }
    .banner_worp .banner .main_banner .banerHed {
        font-size: 46px;
    }
    .Mission .mainMission .massionPra {
        margin-left: 0px;
    }
    .Mission .mainMission .MissionTitle::after {
        right: 5px; 
    }
    .Mission .mainMission .MissionTitle::before {
        right: 1px;
    }
    .about_us .about_main .sigensar {
        margin-bottom: 30px;
    }
    .about_us .about_imgs img {
        width: 100%;
    }
    .countain_worp .main_counting {
        margin-bottom: 30px;
    }
    .countain_worp  {
        padding-bottom: -30px;
    }
    .watch_worp .video_main {
        text-align: center;
        margin-top: 50px;
    }

    .watch_worp .video_main .viveoLink {
        font-size: 20px;
    }
    .VOLUNTEER .ovErlay {
        margin-bottom: 30px;
    }
    .Contact_worp .counter_bnt {
        margin-top: 30px;
    }
    .brand_worp  {
        margin-bottom: -30px;
    }
    .brand_worp .brand_item {
        margin-bottom: 30px;
    }
}

@media (max-width: 736px) {
    .header_top .top_head .contac a {
        font-size: 9px;
    }
    .header_top .top_head .icon_manu .icon_list .icons {
        font-size: 12px;
    }
    .banner_worp .banner .main_banner .banerHed {
        font-size: 40px;
    }
    .banner_worp .banner .main_banner .banner_pra {
        font-weight: 300;
    }
    .banner_worp .banner .main_banner .banner_button {
        font-size: 12px;
    }
    .banner_worp .banner .main_banner .bnarbtn {
        font-size: 12px;
    }
    .about_us .about_main .about_sub {
        font-size: 16px; 
    }
    .about_us .about_main .about_head {
        font-size: 30px;
        font-weight: 600;
    }
    .about_us .about_main .aboutPrea {
        font-size: 13px;
    }
    .about_us .about_main .sigensar {
        img {
            width: 100px;
        }
    }
    .countain_worp .main_counting .pra_count {
        font-size: 14px;
        font-weight: 400;
    }
    .countain_worp .main_counting .counting {
        font-size: 35px;
        font-weight: 600;
    }
    .Mission .mainMission .MissionTitle .Missionsub {
        font-size: 16px;
        font-weight: 400;
    }
    .Mission .mainMission .MissionTitle .Missionhead {
        font-size: 25px;
    }
    .Mission .mainMission .MissionTitle::before {
        display: none;
    }
    .Mission .mainMission .MissionTitle::after {
        display: none;
    }
    .Mission .mainMission .massionPra {
        max-width: 100%;
    }
    .watch_worp .watchmain .watch .watch_hed {
        font-size: 20px;
        font-weight: 400;
    }
    .watch_worp .watchmain .watch .watchHed {
        font-size: 30px;
    }
    .watch_worp .watchmain .watch .watch_pra {
        max-width: 619px;
        font-size: 16px;
    }
    .watch_worp .watchmain .watch .bnarbtn {
        font-weight: 400;
        font-size: 12;
    }
    .Media_worp .media_header .media_hed {
        font-size: 30px;
        font-weight: 600;
    }
    .manu_Iteme .isotop_manu .isotopmein .list_item {
        margin-bottom: 10px;
    }
    .VOLUNTEER .ovErlay .overlay_header .overadhed {
        font-size: 16px;
    }
    .VOLUNTEER .ovErlay .overlay_header .overarpra {
        font-size: 12px; 
    }
    .election_worp .media_header .media_hed {
        font-size: 30px;
        font-weight: 600; 
    }
    .election_worp .media_header .electio_prag {
        max-width: 100%;
    }
    .election_worp .counter_bnt a {
        border-radius: 50px;
        font-size: 14px;
        border-bottom: 50px;
    }
    .Goalsworp .media_header .media_hed {
        font-size: 30px;
        font-weight: 600; 
    }
    
    .MEMBER_revew .testmonials_slied .main_slieda_ttstmonials .test_slid_items .slid_pra2 {
        max-width: 100%;
    }
    .MEMBER_revew .MissionTitle::before {
        display: none;
    }
    .MEMBER_revew .MissionTitle::after {
        display: none;
    }
    .MEMBER_revew .massionPra {
        max-width: 100%;
        margin: 0 ;
    } 
    .latest_news .latelt_header .latest_hed {
        font-size: 30px;
        font-weight: 600;
    }
    .latest_news .latest_manu .latest_item .latest_img .latest_pra {
        font-size: 14px;
    }
    .Contact_worp .contact_header .contact_hed {
        font-size: 30px;
        font-weight: 600;
    }
    .Contact_worp .contact_item {
        text-align: center;
        margin-bottom: 30px;
    }
    .Contact_worp .counter_bnt a {
        padding: 11px 45px;

    }
    .footer_worp .Newsletter .Instagram .castomRow .castomCol .itme_img .imgangor {
        img {
            width: 100%;
        }
    }
    .footer .futtrbottom {
        text-align: center;
    }
    .footer .footer_bottom {
        text-align: center;
    }






}



@media (max-width: 420px) {
    .header_top {
        display: none;
    }
    .banner_worp .banner .main_banner .banerHed {
        font-size: 30px;
    } 
    .about_us .about_main .about_head {
        font-size: 30px;
    }
    .countain_worp .main_counting .counting {
        font-size: 35px;
        font-weight: 600;
    }
    .Mission .mainMission .MissionTitle .Missionhead {
        font-size: 22px;
    }
    .Mission .mainMission .MissionTitle::before {
        display: none;
    }
    .Mission .mainMission .MissionTitle::after {
        display: none;
    }
    .MEMBER_revew .MissionTitle::after {
        display: none;
    }
    .MEMBER_revew .MissionTitle::before {
        display: none;
    }
    .MEMBER_revew .massionPra {
        max-width: 100%;
        margin: 0;
    }
    .watch_worp .watchmain .watch .watch_hed {
        font-size: 18px;
        font-weight: 400;
    }
    .watch_worp .watchmain .watch .watchHed {
        font-size: 30px; 
    }

    .manu_Iteme .isotop_manu .isotopmein .list_item {
        margin: 10px 5px 0;
    }
    .Media_worp .media_header .media_hed {
        font-size: 30px;
    }
    .Mission .mainMission .MissionTitle .Missionhead {
        font-size: 20px;
    }
    .Mission .mainMission .MissionTitle .Missionsub {
        font-size: 16px;
        font-weight: 400;
    }
    .election_worp .media_header .media_hed {
        font-size: 30px;
        font-weight: 600;
    }
    .Goalsworp .media_header .media_hed {
        font-size: 30px;
    }
    .INSTAGRAM_worp .media_header .media_hed {
        font-size: 30px;
        font-weight: 600;
    }
    .MEMBER_revew .MissionTitle .Missionhead {
        font-size: 30px;
    }
    .MEMBER_revew .MissionTitle .Missionsub {
        font-weight: 400;
    }
    .vote_video .video_vote .video_hed {
        font-size: 30px; 
    }
    .latest_news .latelt_header .latest_hed {
        font-size: 30px;
        font-weight: 600
    }
    .Contact_worp .contact_header .contact_hed {
        font-size: 30px;
        font-weight: 600;
    }


    .Contact_worp .contact_item {
        margin-bottom: 30px;
    }
    .footer .futtrbottom {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer .footer_bottom {
        text-align: center;
    }
    .footer_worp .Newsletter .pranews {
        max-width: 100%;
    }

}
@media (max-width: 375px) {
    .banner_worp .banner .main_banner .banerHed {
        font-size: 29px;
    }
    .banner_worp .banner .main_banner .banner_pra {
        display: none;
    }
    .banner_worp .banner .main_banner .banner_button {
        font-size: 10px;
        font-weight: 400;
        padding: 0px 15px;
    }
    .banner_worp .banner .main_banner {
        text-align: center;
        .bnarbtn {
            font-size: 10px;
            font-weight: 400;
            padding: 0px 15px;
        }
    }
    .countdown {
        span {
            
        }
    }

}
@media (max-width: 320px) {
    .banner_worp .banner .main_banner .banerHed {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .about_us .about_main .about_head {
        font-size: 24px;
    }
    .watch_worp .watchmain .watch .watchHed {
        font-size: 24px;
    }
    .Media_worp .media_header .media_hed {
        font-size: 25px;
    }
    .election_worp .media_header .media_hed {
        font-size: 22px;
        font-weight: 600;
    }
    .Goalsworp .goalaeorp_main .nav_manu .mav_items .nav_link {
        padding: 8px 20px;
    }
    .MEMBER_revew .MissionTitle .Missionhead {
        font-size: 25px;
    }
    .MEMBER_revew .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .test_title .slid_hed {
        font-size: 18px;
        font-weight: 400;
    }
    .vote_video .video_vote .video_hed {
        font-size: 25px;
    }
    .latest_news .latelt_header .latest_hed {
        font-size: 25px;
    }
    .Contact_worp .contact_header .contact_hed {
        font-size: 25px;
        font-weight: 600;
    }
    .footer_worp .Newsletter .hednews {
        font-size: 20px;
    }
    

}