.Volunteers {
    padding-bottom: 70px;
    .VolunteersMain {
        padding: 37px 27px 39px;
        transition: all 0.5s;
        background: #fff;
        box-shadow: 0px 6px 40px 6px #00000021;
        margin-bottom: 30px;
        .VolunteersHead {
            margin: 5px 0 10px;
            font-size: 18px;
            padding: 0;
            font-weight: 600;
            color: #000;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.2;
            color: #333;
            
        }
        .VolunteersPra {
            font-size: 14px;
            margin: 10px 0;
            line-height: 1.6;
            color: #333;
        }
        .ReadMore {
            .red_button {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                color: #333;
                border-bottom: 1px solid transparent;
                text-transform: uppercase;
                transition: all 0.5s;
                &:hover {
                    border-bottom: 1px solid #fff;
                }

            }
        }
        .icon_flag {
            font-size: 34px;
            color: #000;
            margin-bottom: 15px;
        }
        &:hover {
            background: #eb1b2b;
            transform: translateY(-5px);
            box-shadow: 0px 6px 40px 6px #0000004a;
            
            .VolunteersHead {
                color: #fff;
            }
            .VolunteersPra {
                color: #fff;
            }
            .ReadMore {
                .red_button {
                    color: #fff;
                    
                }
            }
            .icon_flag {
                color: #fff;
            }

        }

    }
}